body {
  background-color: #86E5FF;
}

/* hr {

  border style: none;
  height: 10px;
  width: 6%;
  border-style: dotted none none;
  border-top-width: 8px;
}




td {
  text-align: center;
  padding: 20px;

}

.sign {
  align-self: flex-end;
} */

/*****************************ID selectors *******************************/
/* .bidda {
  border-radius: 90%;
}
.jordan {
  border-radius: 80%;
} */
